#first{
    border: 1px solid black;
    margin:5% 1% 0% 1%
}
#second {
    border: 1px solid black;
    margin:1%
}
#third {
    border: 1px solid black;
    margin:1%
}
#fourth {
    border: 1px solid black;
    margin:1%
}
#fifth {
    border: 1px solid black;
    margin:1%
}
#sixth {
    border: 1px solid black;
    margin:1%
}
#seventh {
    border: 1px solid black;
    margin:1%
}
#eighth {
    border: 1px solid black;
    margin:1%
}